<section class = 'section-wrapper'>

    <nav class="navbar navbar-expand-lg side-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            
            <ul class="navbar-nav mr-auto flex-column w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/stock">View the market <span class="sr-only">(current)</span></a>
                </li>
              
                <li class="nav-item active">
                    <a class="nav-link" href="/">View your inventory </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Update your inventory </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/balance">Update your balance </a>
                </li>
            </ul>
            
        </div>
    </nav>
    
    <section class = 'body-section'>
        <div class="container">
          <div class="row justify-content-center pt-5">
            <div class="balance col-md-6 align-self-center border border-2 border-white rounded-3">
                <h2>View Balance</h2>

                <form class="form balance-form">
                  <div class="form-group">
                    <label for="current-balance">Current Balance:</label>
                    <p id = 'current-balance'>{{balance}}</p>
                  </div>
                  <div class="form-group">
                    <label for="add-balance">Add Balance:</label>
                    <input class="form-input" type="number" id="add-balance" name="add-balance" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">submit</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
        <form class="form balance-form">
          <div class="form-group">
            <label for="current-balance">Current Balance:</label>
            <p id="current-balance">{{balance}}</p>
          </div>
          <div class="form-group">
            <label for="add-balance">Add Balance:</label>
            <input class="form-input" type="number" id="add-balance" name="add-balance" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">submit</button>
          </div>
        </form>
    </div>
  </div>
</div>

    </section>
</section>

<script src="./js/balance.js"></script>