<section class = 'section-wrapper'>
    <nav class="navbar navbar-expand-lg side-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            
            <ul class="navbar-nav mr-auto flex-column w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="/">View your inventory <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Update your inventory </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/stock">View the market </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Update your balance </a>
                </li>
            </ul>
            
        </div>
    </nav>

    <section class = 'body-section'>
        Hello!
    </section>
</section>
