<section class = 'section-wrapper'>

    <nav class="navbar navbar-expand-lg side-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            
            <ul class="navbar-nav mr-auto flex-column w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">View the market</a>
                </li>
              
                <li class="nav-item active">
                    <a class="nav-link" href="/">View your inventory </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Update your inventory </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/balance">Update your balance </a>
                </li>
            </ul>
            
        </div>
    </nav>

    <section class = 'body-section'>
        <div class = 'text-center'>
            <h1>Stocks Marketplace</h1>
            <h4>These are all of the stocks that are currently available.</h4>
            <h4>This is your current balance: <span id = 'current-balance'>{{balance}}</span></h4>
        </div>
        
        <div class = 'stocks-list'>
            {{#each stocks as |stock|}}
                <div class = 'stock'>
                    <div>
                        <p>{{stock.company}}</p>
                    </div>

                    <div>
                        <p>{{stock.symbol}}</p>
                    </div>

                    <div>
                        <p>{{stock.price}}</p>
                    </div>

                    <button id = 'buy-button'>
                        <img class = 'buy-button' src = '/images/buy-button.png'>
                    </button>
                </div>
            {{/each}}
        </div>
            

    </section>

</section>