<section class = 'body-section'>
        <div class = 'heading-text'>
            <h1>Stocks Marketplace</h1>
            <h4>These are all of the stocks that are currently available.</h4>
        </div>

        <div class = 'stocks-list'>
            <div class = 'stock'>
                <div>
                    <p>Stock Title</p>
                </div>
                <div>
                    <p>Stock Symbol</p>
                </div>
                <div>
                    <p>Stock Price</p>
                </div>
                <button id = 'buy-button'>
                    <img class = 'buy-button' src = '/images/buy-button.png'>
                </button>
            </div>

            <div class = 'stock'>
                <div>
                    <p>Stock Title</p>
                </div>
                <div>
                    <p>Stock Symbol</p>
                </div>
                <div>
                    <p>Stock Price</p>
                </div>
                <button id = 'buy-button'>
                    <img class = 'buy-button' src = '/images/buy-button.png'>
                </button>
            </div>

            <div class = 'stock'>
                <div>
                    <p>Stock Title</p>
                </div>
                <div>
                    <p>Stock Symbol</p>
                </div>
                <div>
                    <p>Stock Price</p>
                </div>
                <button id = 'buy-button'>
                    <img class = 'buy-button' src = '/images/buy-button.png'>
                </button>
            </div>
            
        </div>
        

    </section>