<section class = 'section-wrapper'>

    {{>sidebar-nav}}

    <section class = 'body-section'>
        <div class = 'text-center'>
            <h1>Stocks Marketplace</h1>
            <h4>These are all of the stocks that are currently available.</h4>
            <h4>This is your current balance: <span id = 'current-balance'>{{balance}}</span></h4>
            <p id = 'user-id' class = 'hide'>{{id}}</p>
        </div>
        
     {{>stock}}
            

    </section>

</section>

<script src="./js/market.js"></script>