<section class = 'section-wrapper'>
    {{>sidebar-nav}}
    <div class = 'stocks-list'>
        <div class="container stock" style="background-color: #FFD580; color: white;"> 
            <div class="row">
                <div class="col-3 text-uppercase">
                    <p>Company</p>
                </div>

                <div class="col-3 text-uppercase">
                    <p>Symbol</p>
                </div>

                <div class="col-2 text-uppercase">
                    <p>Quantity</p>
                </div>

                <div class="col-2 text-uppercase">
                    <p>Price</p>
                </div>

            </div>
        </div>
        {{#each stocks as |stock|}}
            <div class = "container stock">
                <div class="row">
                    <div class="col">
                        <p>{{stock.company}}</p>
                    </div>

                    <div class="col">
                        <p>{{stock.symbol}}</p>
                    </div>

                    <div class="col">
                        <p>{{stock.quantity}}</p>
                    </div>

                    <div class="col">
                        <p>${{stock.price}}</p>
                    </div>

                    <div class="col">
                        <button>Buy more</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<script src="./js/profile.js"></script>