<div class = 'stock'>
    <div>
        <p>{{stock.company}}</p>
    </div>
    <div>
        <p>{{stock.symbol}}</p>
    </div>
    <div>
        <p>{{stock.price}}</p>
    </div>
    <button id = 'buy-button'>
        <img class = 'buy-button' src = '/images/buy-button.png'>
    </button>
</div>